body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #263238;
}
code {
    background-color: #eceff0;
    padding: 1px 3px;
}
h1, h2, h3, .title-like {
    text-align: center;
}
.title-like {
    font-size: 1.3em;
}
h1 .small {
    color: #3b4b53;
    font-size: 0.8em;
    font-weight: 400;
}
h2 {
    margin-top: 1.7em;
}
.consigne {
    max-width: 660px;
    margin: 3.5em auto;
}
.consigne ul {
    padding: 0;
    list-style: square;
    list-style-position: inside;
}
.consigne ul p {
    margin-bottom: 0.5rem;
    font-weight: 500;
} 
.complement {
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    color: #45535a;
}

#flems-editor {
    height: 80vh;
    width: 80vw;
    padding: 0;
    margin: 20px auto;
    box-shadow: 7px 7px 20px rgba(58, 64, 64, 0.4);
}

/* Remove the visual-clutter Flems logo in the editor background */
#flems-editor div.flems div.editor > nav + div::after {
   background-image: none; 
}

.source {
    color: #70818a;
    font-size: 0.9em;
    text-align: center;
    margin-top: 3rem;
}
.source a, .source a:visited {
    color: #33596c;
}